body {
  margin: 0 auto;
  font-family: @font-1;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
}
