@font-1: "Open Sans", arial, sans-serif;

@bg-color-1: #1d2631;
@bg-color-2: #283645;
@bg-color-3: #d22856;

@text-color-1: #283645;
@text-color-2: #ffffff;
@text-color-3: #d22856;

@border-color-1: #e5e5e5;
