.contacts {
  padding-top: 40px;
  text-align: center;
}

.contacts__title {
  font-family: @font-2;
  font-size: @font-size-6;
  color: @text-color-1;
  font-weight: lighter;
}

.contacts__list {
  padding: 30px 0;
  .padding;
}

.contacts__item {
  margin-bottom: 40px;
}

.contacts__text {
  display: block;
  font-size: @font-size-3;
  font-weight: bold;
}

.contacts__link {
  display: block;
  font-family: @font-2;
  font-size: @font-size-6;
  color: @text-color-3;
}

.contacts__map-wrapper {
  display: block;
  width: 100%;
  height: 300px;
  background: url("../img/bg-map-mobile.png") no-repeat 100% 100%;
}

.contacts__map {
  width: 100%;
  height: 300px;
  border: none;
}

@media @tablet-width {
  .contacts__title {
    width: 400px;
    margin: 0 auto;
    font-size: @font-size-7;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__link {
    width: 250px;
  }

  .contacts__map-wrapper {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center;
    background-size: cover;
  }
}

@media @tablet-width and (min-resolution: 144dpi),
       @tablet-width and (min-resolution: 1.5dppx) {
   .contacts__map-wrapper {
     background-image: url("../img/bg-map-tablet@2x.jpg");
     background-position: center;
     background-size: cover;
  }
}
