.field-radio__heading {
  text-align: center;
}

.field-radio__title {
  color: @text-color-3;
  font-size: @font-size-1;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}

.field-radio__item {
  display: block;
  margin: 20px 0;
}

.field-radio__input {
  display: none;
}

.field-radio__text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 23px;
  border-radius: 50%;

  background-color: #ffffff;

  border: 1px solid @border-color-1;
}

.field-radio__item:hover {
  .field-radio__text::before {
    border-color: @text-color-1;
  }
}

.field-radio__input:checked + .field-radio__text::before {
  background: radial-gradient(at center, @bg-color-3 30%, #ffffff 30%);
}

@media @tablet-width {
  .field-radio {
    padding: 0 50px 60px;
    border: 2px solid @border-color-1;
  }

  .field-radio__heading {
    margin: -10px auto 50px;
  }

  .field-radio__title {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    background: #ffffff;
  }
}

@media @desktop-width {
  .field-radio {
    padding: 0;
    padding-bottom: 40px;
  }

  .field-radio__item {
    padding-left: 50px;
  }
}
