.form {
  font-family: @font-1;
}

.form__heading {
  width: 280px;
  margin: 0 auto;
  padding: 45px 0;
  padding-bottom: 0;

  color: @text-color-1;
  text-align: center;
  font-size: @font-size-1;
  line-height: 30px;
}

.form__inner {
  padding: 40px 0;
  .padding;
}

.form__inner--alt {
  background: #f2f2f2;
}

.form__btn {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 10px;

  font-size: @font-size-3;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background: #2aab6d;

  cursor: pointer;
}

.form__btn:hover {
  background: #1c9b5e;
}

.form__btn:active {
  color: rgba(255, 255, 255, 0.5);
  background: #1c9b5e;
}

.form__fields-required {
  display: block;
  width: 200px;
  margin: 0 auto;

  font-size: @font-size-1;
  text-transform: uppercase;
  color: @text-color-1;

  sup {
    color: @text-color-3;
  }
}
