.main-nav {
  position: absolute;
  z-index: 1000;

  width: 100%;
}

.main-nav__item {
  padding: 10px;

  font-family: @font-1;
  font-size: @font-size-2;
  line-height: 32px;
  color: @text-color-2;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-color: @bg-color-2;

  border-top: 1px solid #000000;
  border-bottom: 1px solid #485461;
}

.main-nav--nojs {
  position: static;
  display: block;
}

@media @tablet-width {
  .main-nav__item {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
  }

  .main-nav--nojs {
    position: absolute;
    display: block;
  }
}
