.photos {
  background: #ffffff;
}

.photos__text {
  margin: 0 auto;
  padding: 50px 40px;

  font-family: @font-2;
  color: @text-color-1;
  text-align: center;
  font-size: @font-size-1;
  line-height: 30px;
}

@media @tablet-width {
  .photos__center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photos__text {
    padding: 100px;
    font-size: @font-size-3;
  }
}

@media @desktop-width {
  .photos__center {
    justify-content: center;
  }

  .photos__text {
    width: 600px;
  }
}
