.field-textarea__heading {
  font-size: @font-size-1;
  line-height: 30px;
  text-align: center;
  color: @text-color-3;
  text-transform: uppercase;
}


.field-textarea__text {
  display: block;
  width: 87.5%;
  margin: 0 auto;
  padding: 20px 6.25%;

  font-family: @font-2;
  font-size: @font-size-3;

  border: 1px solid @border-color-1;
}

@media @tablet-width {
  .field-textarea {
    padding: 0 50px 60px;
    border: 2px solid @border-color-1;
  }

  .field-textarea__heading {
    width: 190px;
    margin: -15px auto 50px;
    padding: 0 20px;
    background: #ffffff;
  }
}
