.field-textarea__heading {
  text-align: center;
}

.field-textarea__title {
  color: @text-color-3;
  font-size: @font-size-1;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}

.field-textarea__text {
  display: block;
  width: 87.5%;
  margin: 0 auto;
  padding: 20px 6.25%;

  font-family: @font-2;
  font-size: @font-size-3;

  border: 1px solid @border-color-1;
}

.field-textarea__text:hover,
.field-textarea__text:focus {
  border-color: @text-color-1;
}

@media @tablet-width {
  .field-textarea {
    padding: 0 50px 60px;
    border: 2px solid @border-color-1;
  }

  .field-textarea__heading {
    margin: -10px auto 50px;
  }

  .field-textarea__title {
    width: 190px;
    margin: 0 auto;
    padding: 0 20px;
    background: #ffffff;
  }
}
